$primary-color: #44bd32;
$secondary-color: #4cd137;
$background-color: #f5f6fa;
$text-color: #182C61;
$container-max-width: 1024px;
$menu-margin-left: 24px;
$product-margin-top: 40px;
$product-margin-bottom: 8px;
$product-padding: 8px;
$product-border-radius: 16px;
$product-button-border-radius: 8px;
$product-button-padding: 8px;